[2017-12-27 17:53] mvpcom opened #1 "Questions about Model and Training"
Thanks for sharing this, it seems to me this is a trained model for test purpose only using your benchmark system. According to your paper, you are utilizing a custom dataset (around 14 hours of manual and automatic driving in the Town01) with Adam optimizer for training the network. However, I need more detail about the perturbation technique? How can I add the same method for data collection in

[2017-12-28 14:59] felipecode commented on #1
Hey @mvpcom . I will release the dataset !
Here is the link :
https://drive.google.com/file/d/1hloAeyamYn-H6MfV1dRtY1gJPhkR55sY/view
I will put it in the readme and explain the fields.
The training code will be released next year probably.
Maybe after ICRA decision.

About the benchmark. It is super slow. It takes about one day to run.
We are currently trying to speed up carla in order to do faste

[2017-12-28 15:57] mvpcom commented on #1
Thanks @felipecode
I believe your works are great and I will be happy if I can help in any part of the development process.

[2018-01-05 18:50] mvpcom commented on #1
I wrote a training code for the same model using the same dataset. However, I'm curious about the speed branch. These are all outputs of the network for each branch separately. The question is, do you use a sequence as input or just a frame? I ask because for determining speed we need to have at least two frames otherwise there is no valuable information in the latest branch. Why is the speed bran

[2018-01-06 13:34] felipecode commented on #1
I use just one frame. The speed is also send as input.
This helps for the agent to learn how to stop and to reduce speed on curves.
The speed prediction, as an auxiliary target, is something we tried and seems to help for the car to stop
better on intersections. It was not on the paper, since we don't know how much it helps ( Depends on the training data, for some cases it helps for some it doesnt

[2018-01-06 16:37] mvpcom commented on #1
I have one more question dear @felipecode `:D The question is about the total steps of training. As you said in the paper, the model trained for 294000 steps. For how many days and using what kind of configuration (GPUs?), you did training? Is there any diagram that shows train and validation loss?  I couldn't find any in both papers. At least I hope to have a final train and validation loss after

[2018-01-08 15:03] CapitalZe opened #2 "Module not found error: Carla"
I've been about this every way I can think of and am unable to find a solution.

I can run the manual and example clients on the carla-server with no problem.

When I try to run 'python run_CIL.py' I am returned with this:

:~/Desktop/Codevilla/imitation-learning$ python run_CIL.py
Traceback (most recent call last):
  File "run_CIL.py", line 5, in <module>
    from carla.benchmarks.corl_2017 impor

[2018-01-08 15:13] CapitalZe commented on #2
Earlier on I took some of the files from the pull requests which matched the designation of the ModuleNotFoundError and created/placed them in the files it seemed to be looking for.
I managed to bypass many of these ModuleNotFoundErrors but more kept popping up, mostly just syntax errors etc.
I felt like this was going nowhere and started from the beginning and thought perhaps I am overlooking som

[2018-01-10 12:43] xfqbuaa commented on #2
same problem during running 'python run_CIL.py' and get the following error information.

Traceback (most recent call last):
  File "run_CIL.py", line 5, in <module>
    from carla.benchmarks.corl_2017 import CoRL2017
ImportError: No module named carla.benchmarks.corl_2017
(py2) xufq@xufq-XPS-15-9560:/media/xufq/E8F025C4F02599B8/Projects/imitation-learning$ python run_CIL.py --help
Traceback (most

[2018-01-10 12:59] CapitalZe commented on #2
Hello Frank,

I reposted this issue [here](https://github.com/carla-simulator/carla/issues/121).

I managed to get past this issue of CoRL2017 by creating a 'benchmarks' folder in PythonClient and then adding the following .py scripts:
 - agent.py
- benchmark.py
- corl.py (updated to corl_2017.py)
- experiment.py
- metrics.py
- init.py

from the Benchmarks Branch [here](https://github.com/carla-si

[2018-01-12 08:53] xfqbuaa commented on #2
I sucuessfully run run_CIL.py following these steps.
More detail you can [reference](https://github.com/xfqbuaa/carla_simulator_Chinese/blob/master/doc/carla.md)

* imitation learning should be running in python 2 environment.

Suggest using anaconda to setup python 2 environment and install all necessary library.

`pip install future` if there are `ImportError: No module named builtins`

* In car

[2018-01-16 15:26] sandman commented on #2
Hi, How did you access the Benchmarks branch?

[2018-01-17 11:37] felipecode commented on #2
The best option in my opinion is to install carla client.

First go clone the CARLA Simulator in order to get the python client

[code]

Basically , from carla repository, get to the benchmark branch ( Hopefully to be released soon)
`git checkout  -b benchmark_branch origin/benchmark_branch`

Then there you install the client
[code]

Install all other dependencies. Tensorflow, PIL, future  etc.

c

[2018-01-17 16:07] CapitalZe commented on #2
I used this command:

[code]
This worked for me.

[2018-01-18 14:03] eds89 opened #3 "Dataset total file size"
Hello,
What's the total file size of the dataset? Due to the lack of storage on my current hard disk, I couldn't download the full dataset. I know that it is larger than 10GB, but how much exactly? I can then free the required space up.

[2018-01-27 19:26] eds89 opened #4 "Experiment execution time"
Hello,
Quick question: on average, how long does it take to re-run this experiment in full?  I can see that the dataset has 24GB instead of the 14GB stated on the main page.

Regards,
Eduardo

[2018-01-29 15:34] yanii opened #5 "Issues when loading one episode"
First, thanks for releasing your dataset!

I'm trying to load it using h5py, and I've found that one file in the training set (`data_06790.h5`) consistently causes an error of the sort:

`IOError: Unable to open file (Unable to find a valid file signature)`

Removing this episode from the dataset, everything else loads. I've downloaded the data twice now, and both downloads have the same MD5 hash,

[2018-01-29 15:43] felipecode commented on #4
Hello @eds89 ,
Thanks for all the contributions !
The execution time depends on how well your model goes and your machine. I think it is around two hours and a half for town 2 and about 10 hours for town 01.

[2018-01-29 15:46] felipecode commented on #5
Hello @yanii
I think this is probably correct. It could happen that some of parts of the data were corrupted on the way.
My data loading system would just ignore corrupted h5 files, so I probably missed this one.

[2018-01-29 15:51] felipecode commented on #3
It is 24GB. I updated the correct size on the main page. Thanks

[2018-01-29 15:56] yanii commented on #5
Oh, OK, so it's likely that the results you reported also excluded that file? Hoping to have some comparable numbers on the metric front :-)

Also.. I'm not 100% sure yet, but when loading the data vector (a.k.a. "targets") as a list, I seem to get a different ordering of data to the ordering of the labels you list in the documentation here: https://github.com/carla-simulator/imitation-learning

C

[2018-01-29 16:09] felipecode commented on #5
Yes, the numbers I reported likely also excluded this file. But anyway i think 200 images shouldn't make much difference on the model :-) .

I will download again and check. Maybe there is some mistake since I was not using all the variables.
Thanks again for contributing !

[2018-01-29 16:18] felipecode commented on #1
Hey @mvpcom . Sorry for taking so long to answer.
The models I tried would take  24-36 hours to train on a titan Xp.
I don't have easy access to this diagrams now. I will probably try to retrain this model and give more detailed information.
Thanks for the contribution.

[2018-01-29 16:29] mvpcom commented on #1
Thanks, @felipecode. I am eager to see more detail information. Although a Titan X Pascal is much much better than a Titan X, I'm not sure if it is a good reason for my implementation to take much much longer time for 294000 steps (approximately around 12 days for Titan X and 52 days for 1080). I have to recheck my data loading process.

[2018-01-29 16:37] felipecode commented on #1
Some things that may help.

- Run all branches , but just back propagate on one ( use a mask for that). Conditions kill parallelism.
- I use  the tensorflow queues for data loading.

For the rest, I would say you have some specific bug. 12 days is too much.

[2018-01-30 18:41] yanii commented on #5
The target data vector is in the correct order by the way, false alarm on that front, I had messed up something!

[2018-01-31 19:09] eds89 commented on #3
Hi.
What's the uncompressed size of the file? I couldn't see its contents its
because of the lack of free space on my machine.

Would it be possible to upload a small sample of the dataset (~100MB), so I
can see its contents?

On 29 January 2018 at 15:51, felipecode <notifications@github.com> wrote:

[2018-02-01 01:55] zdx3578 commented on #1
@mvpcom is your train code can public?

[2018-02-01 06:49] mvpcom commented on #1
@zdx3578 Yes if the Carla Team doesn't mind that because as far as I know, they are waiting for publishing their paper and this is the reason why I wrote the train code myself from scratch.

[2018-02-01 14:01] felipecode commented on #1
@mvpcom Yes, sure ! Please do it !
The paper is already done. But we want to release good code, with good tutorials
so we are working on improving what we have, and then we will release !

Cheers

[2018-02-01 14:49] mvpcom commented on #1
@zdx3578 @felipecode [Here](https://github.com/mvpcom/carlaILTrainer) you can find the first draft of the code. It was part of a more larger code, so I'm not sure if it is without bugs. Besides that, it is necessary to revise the code to speed up the training process as we discussed above. If you find any bug, please let me know to fix it up.

[2018-02-02 15:17] eds89 opened #6 "Experiment Question"
Hello.
I've read the paper and I've got a few questions about the Imitation Learning experiment.

I'm not a deep learning expert, so some questions may sound silly.

1) When executing the navigation tasks, after training, do the trained system receives new images from the cameras installed on the car?

2) What was the camera setting used (i.e. positioning, rolling, etc)? Also, what kind of camera

[2018-02-05 08:40] felipecode commented on #6
Hey @eds89 , no question is really silly :).

1. Yes, during evaluation you need to have a CARLA running. Then you will receive new images and control de car. The recorded images are only for training the neural network.

2. The forward facing camera was just RGB post-processed (scene-final), no depth or semantic segmentation was used.

[2018-02-05 11:59] eds89 commented on #6
A follow-up question:

1) How can I change the experiment to have a different camera setting while
moving to the New Town (after the net is trained in Town01)?
       Since the new camera will inevitably receive data, for which the net
had not been specifically trained for, I can already predict there will be
changes in the obtained results. I.e. more infractions or even inability to
drive the car

[2018-02-06 21:12] TairuiWang opened #7 "Data collection question"
Hi, thanks for your great work!
Currently, I am going to collect more data for training. However, I have no idea how to achieve some of the measurement in your 'target list', such as '_control signal_'. I checked this [page](https://carla.readthedocs.io/en/latest/measurements/). I didn't find anything like '_control signal_' or  '_noise_'. How can I get those values?

[2018-02-07 07:02] zdx3578 commented on #1
https://github.com/pathak22/noreward-rl  this is good job for train can ref it .

[2018-02-12 09:13] felipecode commented on #7
Hey @TairuiWang thanks for the attention and Sorry for the late answer,
It was my mistake on naming it. It should be called something like high level commands.
The control signal is obtained from the high level planner.
The planner plans a route towards to some target in the city and produces
a list of high level commands to lead the agent into getting to the target.

A common list of command woul

[2018-02-12 15:36] #7 closed

[2018-02-15 12:45] mvpcom commented on #1
@felipecode Two question for you Felipe. First of all, I'm not sure how to do masking for backpropagation on one branch only. This one is beneficial for reduce the training time. Do you know any link that may help? And unfortunately, I can't load your saved checkpoint into my model. It seems there are some different points in both models. Is there any consideration that I have to consider? It will

[2018-02-20 11:09] LoayMAmin opened #8 "What do the targets represent?"
I would like to know what does the targets represent, please.
I found that they have the shape of ?,28.
So can I know what it means?

[2018-02-22 22:25] felipecode commented on #8
Hey @LoayMAmin , i have at the repo main page,
https://github.com/carla-simulator/imitation-learning

    Steer, float
    Gas, float
    Brake, float
    Hand Brake, boolean
    Reverse Gear, boolean
    Steer Noise, float
    Gas Noise, float
    Brake Noise, float
    Position X, float
    Position Y, float
    Speed, float
    Collision Other, float
    Collision Pedestrian, float
    Collisio

[2018-03-02 00:25] jcyriac2 opened #9 "Training the model"
Hi! I have three questions regarding how to use this repository.
1) With the command I start the the agent, (python run_CIL.py), does it load a trained model and drive the car or does it start training?
2) Does the files in the Model folder represent the pre-trained model on the 24GB dataset or not? If so, how do I start the agent by using the trained model?
3) If it the model is not trained, how

[2018-03-02 09:41] mvpcom commented on #9
Hey James (@jcyriac2 ), Yes "run_CIL.py" load a trained model and test the model with a benchmark.

For your second question, the answer is yes. However, I'm not sure if I understood what do you want by starting the agent? You can find the code in "run_CIL.py" how to load a pre-trained model. If you're going to benchmark your own model, you only need to replace those checkpoint files.

They didn't

[2018-03-03 14:53] dingjiangang opened #10 "KeyError: 'CameraRGB'"
when i run "python run_CIL.py",some problem happen
ERROR: 'CameraRGB'
Traceback (most recent call last):
  File "run_CIL.py", line 64, in <module>
    results = corl.benchmark_agent(agent, client)
  File "/home/dingjiangang/carla_env/local/lib/python2.7/site-packages/carla/benchmarks/benchmark.py", line 199, in benchmark_agent
    + '.' + str(end_point))
  File "/home/dingjiangang/carla_env/local/

[2018-03-05 14:26] marcgpuig commented on #10
Hi @dingjiangang,

Which version of CARLA are you using?
Recently we have made a few changes in the master branch and the code of this repository is temporarily outdated.

Consider using the [stable](https://github.com/carla-simulator/carla/tree/stable) branch of CARLA.

[2018-03-06 01:47] TairuiWang opened #11 "Carla result"
Hi guys,

Currently, I am testing the released model. However, I found my result is not as good as the result of [this](https://arxiv.org/abs/1711.03938) paper.
For example, the result of 'new town' with 'straight' is 97%, but my test result is 71%. I checked each episode and found in many cases that the car stops at the start point and doesn't move at all.
I didn't change any of the released code

[2018-03-06 03:20] mvpcom commented on #11
I can confirm the same problem

[2018-03-06 13:44] dosovits commented on #11
Thanks for bringing this up! We investigated, and it seems the difference in the results is because one feature of the agent (that helps fighting this spontaneous stopping) got disabled in the release.

It can now be activated with the “--avoid-stopping” flag when running run_CIL.py . Please give it a try and let us know if this helps.

Again, thanks a lot for reporting this - this was an oversigh

[2018-03-06 15:32] #11 closed

[2018-03-09 07:34] Fengmoon93 opened #12 "the activation function for the control"
In the different branches
for the steer, I think that the nonlinear function should be the tanh([-1,1]) which means the turning rate should be [-180 degrees~180 degrees]
for the brake and the gas, the activation function should be sigmoid ([0,1])
in the model, all the activation function is Relu
Is the output converted by the CARLA control?
I haven't run the code in the CARLA yet because now I'm u

[2018-03-09 07:36] Fengmoon93 commented on #5
import h5py
filename='data_06790.h5'
try:
    data = h5py.File(filename, 'r')
except:
    print('file has bugs') #the output is 'file has bugs'

[2018-03-10 01:26] mvpcom commented on #11
@TairuiWang Could you confirm with this new update you can produce the same result? Unfortunately, it seems to me the new update makes the model more unstable :(

[2018-03-10 16:06] TairuiWang commented on #11
@mvpcom The result looks good to me. What do you mean 'unstable'?

[2018-03-12 09:52] ashishm-io opened #13 "Length of 'targets' key in dataset"
The [README ](https://github.com/carla-simulator/imitation-learning/blob/master/README.md)mentions that in the provided dataset, the 'targets' key has 27 measurements.
But when I printed out the size of 'targerts' it showed that it has 28 measurements .

Here is the code:
[code]
The output is as follows :

(200, 88, 200, 3)
(200, 28)
[-2.0544434e-01  6.4567566e-01  0.0000000e+00  0.0000000e+00
  0

[2018-03-21 11:30] felipecode commented on #12
Hey @Fengmoon93
I think the non linearities inside the network should be Relu, since
they tend to be more stable.
Also from my tests, i saw that putting activation functions on the last layer doesn't produce good results.  The last layer from the network definition is:
`
 branches.append(network_manager.fc(branch_output, len(branch_config[i])))`

Maybe some problem with my code readability.
The "f

[2018-03-21 12:16] mvpcom commented on #12
@felipecode When and where the code will adjust the output between [-1,1]? I saw in the experiment; sometimes network even will produce numbers higher than 1.05 or so.  Is there any adjustment for applying control inputs?

[2018-03-21 13:09] felipecode commented on #12
I don't adjust. It doest seem to be a problem. Yes eventually you have values slightly higher
than 1, but that is fine.
Maybe we could apply some threshold.

[2018-03-23 00:39] #12 closed

[2018-03-23 09:24] merryHunter commented on #3
Hi, Indeed a small sample would be appreciated! Or at least to put a few images in samples folder to the repo.

[2018-03-25 08:19] merryHunter commented on #9
HI @mvpcom, thank you a lot for your code! Could you share, please, your results, did you manage to reproduce it and train your agent successfully?

[2018-03-25 08:19] merryHunter commented on #9
HI @mvpcom, thank you a lot for your code! Could you share, please, your results, did you manage to reproduce it and train your agent successfully?

[2018-03-29 13:17] felipecode commented on #13
Hello,
I just rechecked the dataset.
You are right! There is indeed another parameter, the yaw angle for the camera.
But it is not used for this dataset since all cameras are central ( Yaw = 0)

Thanks a lot for the comment.

Regards

[2018-03-30 07:00] xchhuang opened #14 "How to crop images"
Hi, I want to ask how you crop the image to generate this SeqTrain dataset ?

As I am trying to train a model on your dataset and test it on carla, I want to keep consistent with the image pre-processing steps. Thanks.

[2018-04-01 07:42] ashishm-io commented on #13
Thanks for your reply.

[2018-04-01 07:42] #13 closed

[2018-04-03 13:36] lvlvlvlvlv opened #15 "About the shape of dataset "target""
@felipecode
Hi there,
I have checked the .h5 dataset and found that the shape of "target" part is 200 * 28.
I know the meaning of the num of cols "28". But I don't know the meaning of the rows number "200". Why are there 200 points for every image? what does it represent？

Look forward to your reply~  Thanks a lot in advance!

[2018-04-03 13:42] felipecode commented on #15
Hello @lvlvlvlvlv
We have 200 images / targets per HDF5 file.
It was just the way I divided the data in order to avoid having too large files.

[2018-04-03 13:45] lvlvlvlvlv commented on #15
OK. I got it. Thanks very much~ @felipecode

[2018-04-03 13:45] #15 closed

[2018-04-04 03:07] lvlvlvlvlv opened #16 "About the setting of "branch" architecture"
Hello, @felipecode ,
I have some questions about the "branch" structure. It's amazing as well as a little confusing :)
I check the your code of imitation-learning network and found that you set five branches which include a speed branch for auxiliary task.
(1)Does the other four branches(except for speed branch) implicitly match the four high level command (follow lane, left, right, straight)?
(2)

[2018-04-04 20:11] mvpcom commented on #16
Hi @lvlvlvlvlv, I am sure Felipe will correct me if I answer wrong and this answer is based on my understanding of their code and their paper.

1- The answer is yes. However, a planner will choose between all higher level commands.
2- Yes, according to planner choice, the output for each action is based on the result of that elected branch.
3- Yes, these are targets ('Steer','Gas','Brake','Speed')

[2018-04-05 15:29] lvlvlvlvlv commented on #16
Thanks so much for your detailed explanations @mvpcom ! It really helps me understand the whole system more clearly.

[2018-04-08 03:08] SpencerLo-CMU opened #17 "Retrain the latest codebase with dataset."
Thanks for this wonderful project!

I am curious whether there would be an update to run_CIL.py incoming so that one can reproduce the result in paper from scratch.

[2018-04-17 02:51] lvlvlvlvlv opened #18 "Question on training the model"
Hello @felipecode @juaxix  @nsubiron  @dosovits @marcgpuig ,

I'm currently working on training the model you provided in paper in order to reproduce the result. However, I found the loss is hard to decrease. It always around certain level, up and down again and again. I have tried different lr and optimizer but seems not work.

I check the label, AKA the first three columns in "target" dataset (s

[2018-04-17 06:40] felipecode commented on #18
Hey lvlvlvlvlv,
Yes the steering is mostly small.
I think for your case, the trick is to balance the data. Make sure that every minibatch covers a good range of steering values.  Other potential problems:

Regularization, if it is too big it wont converge.
Optimizer, i used adam optimizer ( Not ideal , but should maybe help in your case)
Mini Batch size. Are you using a reasonably big one ? I was

[2018-04-18 12:45] Florence-C opened #19 "loss function for training"
Hello,

I have a question about the loss used to train the model.
In your paper, the action is apparently two dimensional (steer and acceleration), whereas it seems to be 3-dimensional in the code (steer, acceleration and brake). Which one is the correct one ? And what is the loss for the action ? the squared error between groundtruth and computed action ? Or is there a weigh to give more importan

[2018-04-23 15:30] felipecode commented on #19
Hello @Florence-C

For the CARLA paper, the loss function was 0.45 for steer, 0.5 for brake and 0.05 for gas.
This is for each command branch. Then there is the separate steering branch
that is weighted 0.05 and 0.95 to the others. Basically the equation would be:

loss = 0.95(0.05gas+0.45steer+0.5brake) + 0.05 branch

For the ICRA paper we were using acceleration ranging from -1,1
and weights wer

[2018-04-23 15:47] mvpcom opened #21 "Problem with Carla 0.8.2"
I can confirm the following problems still exist in the current version of the code. Is there anything that I missed?

[code]
**Fixed by changing experiment_suite to experiment_suites.**

[code]
**Fixed by changing carla.benchmarks.agent to carla.agent**

[2018-04-23 16:01] felipecode commented on #21
Yeah,
Just fixed and merged to master.
These were some last minute name changes.
Since I mostly work alone on this repo, we don't have a rigorous testing policy as we have with the simulator.

Thanks a lot for reporting it so quickly !

[2018-04-23 16:13] Florence-C commented on #19
Hello @felipecode

Thank you for you response !

I'm not sure I understand, there is a separate steering branch ? Or did you mean speed branch ?
If it is indeed a speed branch, why trying to compute the speed from a single image input ? How does that make sense ?
Moreover, the weight for gas, steer and brake do not sum up to 1, is that normal ? How did you choose the weights ? By trying different

[2018-04-28 03:17] danfouer opened #23 "Cannot assign a device for operation 'Placeholder':"
Basically run:

$ python run_CIL.py

Ihave a carla server running .

Cannot assign a device for operation 'Placeholder': Operation was explicitly assigned to /device:GPU:0 but available devices are [ /job:localhost/replica:0/task:0/device:CPU:0 ]. Make sure the device specification refers to a valid device.

python run_CIL.py --help
/home/danfouer/.conda/envs/tensorflow/lib/python2.7/site-packages

[2018-04-28 12:19] felipecode opened #24 "Enable Tensorflow CPU"
Currently the conditional imitation learning agent
just works on GPU. It shouldn't be hard to also make
it it possible to run on CPU, since the fps requirements
aren't so big. Refers to #23

[2018-04-29 09:06] jackspp opened #25 "Target Description Issue"
Hi, first thanks a lot for giving the dataset!

A question for dataset target description is:

Noise, Boolean ( If the noise, perturbation, is activated, (Not Used) )

I checked several h5 files, all the noise is 0,
however, there are noises in

Gas Noise, float
Brake Noise, float

So, does that mean:
1. although there are noise, but noise are not input into system?(Noise Boolean are all 0 which m

[2018-04-29 09:15] eds89 commented on #2
Hello,
I get the following error while running 'run_CIL.py'. There seems to be 'builtins' module. I'm running CARLA version 0.8.1.

`C:\Users\eduardosantos_FKZ8YF\Downloads\CARLA_0.8.1\PythonClient>py -2.7 run_CIL.py
Traceback (most recent call last):
  File "run_CIL.py", line 5, in <module>
    from carla.benchmarks.corl_2017 import CoRL2017
  File "C:\Users\eduardosantos_FKZ8YF\Downloads\CARLA_0

[2018-04-29 12:38] felipecode commented on #25
Hey @jackspp
The dataset I provided is about 12 hours and it was used on the CARLA paper.
The noise flag was not used  in the end but the noise was introduced in part of the dataset. That is a mistake, I know, but
recollecting the dataset would not be practical.

 You could check the existence
of noise by looking at target number 6 " Steer Noise ", if it is different from target
0 "Steer", it mean

[2018-04-29 22:27] peter-jean1 opened #26 "how can I know which camera corresponds to an image ?"
Hi, first thanks a lot for giving the dataset!
Please, how can i identify if a given image captured from center, left or right camera?

[2018-04-30 04:17] eds89 opened #27 "Requirement reduction"
Hello,
Can the (annoyingly) requirements for CUDA 9,0 be reduced? I've only managed to get access to CUDA 6.5.14.

Kind regards,

[2018-04-30 06:06] #27 closed, assigned to nobody

[2018-04-30 14:35] #26 closed, assigned to nobody

[2018-05-01 13:11] QD-HK opened #28 "Questions of running run_CIL on Town02"
Hey!

When I run the 'run_CIL.py' of Carla_0.8.2 in Town01, it works good. However when change to Town02, something strange happen:
1. The first episode runs smoothly, but the car **turns** two times in this episode. The start and end pose is (38, 34). According to _CoRL2017_ these pose should be a **straight line**. So what's wrong with the setting?
2. When first episode finish and comes to the s

[2018-05-01 13:45] felipecode commented on #28
Hey daqi,
I know what happened !
Your server is running town 01 , and you set town02 for the run_CIL.py like this:

    python run_CIL.py -c Town02

Am I right ?
Make sure your server is running for town 02.

    ./CarlaUE4.sh /Game/Maps/Town02 -windowed -world-port=2000

We will add the possibility to chose the town from the client, since the way you have to execute this now is quite error prone.

[2018-05-01 17:28] QD-HK commented on #28
That's true, Thank you!

[2018-05-02 05:49] eds89 opened #29 "Reduce CUDA requirement"
Hello,
Would there be any easy way to get the experiment running on CUDA 6.5? I stumbled onto the fact it requires CUDA 9.0. This is unfair as graphics cards which such support are the most expensive ones.

[2018-05-02 19:47] eds89 opened #30 "Quick Question"
Hi,
Apologies if this is not the right channel...

When I run the CIL experiment, will I be able to see the car driving in the virtual streets automatically (based on the trained model)? I mean, can I see it as if I were playing the client in via pygame? I've tried hard to get it running, but all those graphical requirements kind of killed me.

[2018-05-03 15:04] felipecode commented on #29
Yes, I also think it is unfair !

I will eventually work on that. I think it shouldn't be hard to make it
work with tensorflow CPU. However downgrading to a tensorflow version
compatible with cuda version 6.5 might be tricky.

[2018-05-03 15:06] eds89 commented on #29
Maybe looking for tensorflow-gpu to cpu wrappers, if such a thing exists?

On 3 May 2018 at 16:04, Felipe Codevilla <notifications@github.com> wrote:

[2018-05-03 15:12] eds89 commented on #29
Hi,
Isn't it simply a matter of changing line 36 in  '\imitation_learning.py'?

On 3 May 2018 at 16:06, Eduardo dos Santos Work <
eduardosantos3011work@gmail.com> wrote:

[2018-05-03 18:22] felipecode commented on #30
Hello @eds89
This was not implemented for the version we released !
This would be an interesting feature to be added in the future.

Thanks !

[2018-05-03 18:28] eds89 commented on #30
Hi,
So, how did you record the car-following videos available on the webpage?
You did not drive the cars so smoothly by hand, did you?

On 3 May 2018 at 19:22, Felipe Codevilla <notifications@github.com> wrote:

[2018-05-03 22:46] felipecode commented on #30
No. We used the client side agent.
https://github.com/carla-simulator/carla/tree/client_side_agent
It is present in a branch of CARLA. Basically is an autopilot that drives
around using the global information. It was not oficially released since it has many
bugs and it is now not compatible with the latest version.

[2018-05-04 08:44] eds89 commented on #30
Another question.

When running the CIL experiment, does the running car use the post processing materials associated with its cameras?

[2018-05-04 16:56] eds89 opened #31 "Dataset unpacking directory"
Hi. What directory should I unpack the dataset to?

[2018-05-10 20:47] eds89 opened #32 "Impossible to connect"
Hello,
The `run_cil.py` script cannot connect to the server. When trying to establish a connection, I get a connection refused or connection timed out errors. I know this is not a firewall or network reachability problem as I can run the `manual_driving.py` script and can control the vehicle remotely.

Find the output generated by running run_CIL.py below. I'd appreciate if any potential solution

[2018-05-16 11:24] zdx3578 commented on #23
installed tensorflow and tensorflow-gpu,delete all. only reinstall tensorflow-gpu is ok.

[2018-05-16 12:49] Florence-C opened #33 "run_CIL not working with Carla 0.8.2"
Hello,

I am facing a problem when I launch the imitation learning with the new version of Carla, it seems not to work.
The error I get is the following :

`Traceback (most recent call last):`
 `File "run_CIL.py", line 72, in <module> `
 `   args.host, args.port)`
`  File "/home/florence/tensorflow1.5-3.5/lib/python3.5/site-packages/carla/driving_benchmark/driving_benchmark.py", line 294, in run_d

[2018-05-17 12:04] felipecode commented on #33
In which operating system are you executing ?

[2018-05-17 13:45] Florence-C commented on #33
I am on Ubuntu 16.04

[2018-05-18 09:26] Florence-C commented on #33
Hello,

My bad, I think I installed the new Carla version with the wrong version of python.
I reinstalled it and it works.

Thanks !

Closing the issue

[2018-05-18 09:26] #33 closed, assigned to felipecode

[2018-05-24 02:42] eds89 commented on #30
Hi. What I meant by the previous question is: if I change the post process slightly, would this impact on the results yielded from execution of the simulated environment.

[2018-05-30 15:42] eds89 commented on #30
Hey! Any updates on this question?

[2018-05-30 18:03] aranga81 opened #34 "Model & training question"
Hi,
I have the following questions. Really appreciate if anyone can answer..!!
- Firstly I understand the control commands are like one hot encoded inputs for--> High level command, int ( 2 Follow lane, 3 Left, 4 Right, 5 Straight). How are these generated - carla outputs these automatically? or  are they looking at the steer values to output these ?
- speed prediction auxiliary output - really ca

[2018-05-31 03:34] mvpcom commented on #34
Hey @aranga81

- High-level commands will be generated by a local planner (A* in this case).
- Although I don't know why this can be helpful, they mentioned that this speed output practically helped in a better and smooth driving particularly for turns. So, there is not any logical proof available.
- As far as I understood, the answer is yes. There is a mask variable which is a determiner for that

[2018-05-31 16:56] aranga81 commented on #34
hey @mvpcom
Thanks for your reply !
So for training, control commands (one-hot encoded) should be inputs?  and
outputs --> active branch+speed_prediction ?
- Any idea how the loss function is tailored for this ?

[2018-05-31 20:48] mvpcom commented on #34
Yes @aranga81, the control commands is an input. If you are going to re-train the model, maybe [this](https://github.com/mvpcom/carlaILTrainer) can help as an initializer code. I will do my best to fix the current issues as soon as possible. You are free to pull any changes. However, for the loss function, you only need to define an additive loss function for all branches weighted by that mask var

[2018-06-06 21:46] eds89 commented on #29
Hi. Any updates on this feature request? I'm eager to repeat the imitation learning requirement. Unfortunately, can't do so at the moment due to hardware incompatibility.

[2018-06-07 07:35] felipecode commented on #30
I am working on that now. Check the CodeSprint1 on carla repo.

[2018-06-07 11:52] mvpcom commented on #29
Honestly, I believe if you reduce the computational power to CPU then it will not be possible to experience the same experiment. Using a powerful GPU like 1080Ti is one of the reasons for performing well at least with that FPS.

[2018-06-07 13:09] eds89 commented on #29
This is also a very expensive graphics card and compromises the
reproducibility of the experiment.

On 7 June 2018 at 12:52, Mojtaba Valipour <notifications@github.com> wrote:

[2018-06-07 14:11] yanii opened #35 "Mean subtracted images/image preprocessing?"
Just trying to run a model trained on this dataset with CARLA for benchmarking, and realized that the images in it seems to be mean subtracted, but I can't seem to find the actual mean anywhere in your code, am I missing it?

Any information you could let me know on the preprocessing of the images would be helpful. Sorry if I've missed it somewhere!

[2018-06-07 14:16] felipecode commented on #35
The images from the dataset are not mean subtracted.
Why did you think so ? How are you plotting the images ?

Cheers

[2018-06-07 14:22] yanii commented on #35
haha.. you're correct, they were being processed elsewhere in my code :-) Sorry about that, should have looked a bit harder!

[2018-06-07 14:22] #35 closed, assigned to nobody

[2018-06-10 17:16] eds89 commented on #30
Do you mean the 'CS1_ClientSide_agents'?

On 7 June 2018 at 08:35, Felipe Codevilla <notifications@github.com> wrote:

[2018-06-10 19:19] eds89 commented on #29
Hello,
Would you have any idea how I may downgrade to TensorFlow-CPU or to a lower
CUDA version? I'm hardly in need to try the conditional imitation learning
experiments myself.

Regards,

On 7 June 2018 at 14:08, Eduardo dos Santos Work <
eduardosantos3011work@gmail.com> wrote:

[2018-06-11 05:34] felipecode commented on #29
I am bit short on time to do that. But this should be quite straightforward.
Just install tensorflow-cpu or other versions. Then you should probably remove
the gpu parameters related things on the code.

[2018-06-11 08:32] eds89 commented on #29
Ok. Do you think the whole code should be restructured in order to migrate
to tensorflow-cpu? Can you think of anything that would not be work by
simply changing parameters?

On 11 June 2018 at 06:34, Felipe Codevilla <notifications@github.com> wrote:

[2018-06-12 10:21] eds89 opened #36 "Some questions"
Hello,
A few questions about this experiment:
1) Is the image dataset used in any way?
2) Is the training code made available in this experiment?

[2018-06-14 13:45] Teslatic opened #37 "[Request] Training Source Code"
Hey,

are there any intentions to release the source code of the training?

Cheers

[2018-06-14 13:47] felipecode commented on #37
Yes !
I am working on it at this moment. I don't know when I will be able to release.

[2018-06-14 14:01] Teslatic commented on #37
Alright, thanks for the quick answer!

[2018-06-14 23:41] aranga81 commented on #34
@mvpcom @felipecode for tweaked conditional imitation learning i am generating my own carla datasets - Can you help me with how the high level control command from the simulator can be recorded ?

[2018-06-15 14:28] Teslatic opened #38 "[Question] Lamdba values of Loss function"
Hey,

just one question regarding the Loss function (equation 6 in your paper).
What values did you use for the Lambda?

Thanks in advance & cheers

[2018-06-17 17:20] felipecode commented on #38
It was:
 Steer: 0.5
  Gas: 0.45
  Brake: 0.05

[2018-06-18 02:27] soham2017 commented on #32
Same problem here . Any update to the question would be life saving.

[2018-06-18 10:41] Teslatic commented on #38
Thank's for your reply.
Unfortunately I don't think that I understood it correctly, because of two reasons:

- There is no lambda in the equation which takes care of the the steering angle
- the "brake" component does not seem to be an output of the model (please correct me if i'm wrong)

What I understood:
[code]

Could you verify/falsify my assessment?

[2018-06-18 16:01] felipecode commented on #32
Are you running on windows ? I can't reproduce the error =/

[2018-06-18 16:14] felipecode commented on #36
1. The image dataset was used to train the agent that is in this repository.
2. It will be made available. i am working on that right now. I don't know when I will be able to release.

[2018-06-19 08:54] mees commented on #38
@felipecode can you comment on @Teslatic's issue please?

[2018-06-19 09:38] felipecode commented on #38
Hello the version provided here is the CARLA paper version  which actually contains brake on the output as well.
So the pseudocode for that would be:
[code]
For the previous version we would just merge acceleration with brake, making acceleration to range from -1 to 1.  The weights were equal, 0.5  for acc and 0.5 for steering.
This merging was producing worse results, specially when adding new we

[2018-06-19 09:46] mees commented on #38
@felipecode thanks for the infos, but we are asking about the "End-to-end Driving via Conditional Imitation Learning" paper. In Equation 6 there is no lambda for the steering angle and the lambda for the acceleration is not mentioned.

[2018-06-19 10:09] felipecode commented on #38
Sorry, I think I answered in the previous answer no ?

For the previous version (Conditional imitation learning paper) we would just merge acceleration with brake, making acceleration to range from -1 to 1. The weights were equal, 0.5 for acc and 0.5 for steering.

[2018-06-19 10:12] mees commented on #38
Oh I see, sorry I thought that the conditional imitation paper was posterior to the carla paper, that's why I didn't know what you were referring to with 'previous paper'. Thanks for the clarification!

[2018-06-19 10:30] felipecode commented on #38
You are right that is really confusing. The CARLA version is the newer one, even though the paper was published before.

[2018-06-19 12:39] soham2017 commented on #32
Yes I am running on windows.

[2018-06-21 12:23] MFlossmann opened #39 "Data augmentation Magnitudes"
Hello! In the paper (Section 4, Subsection D) Data augmentation), you mention Data Augmentation with randomly sampled magnitudes.
Unfortunately, random magnitudes of the transformations introduces quite a lot of hyperparameters to tune when trying to reproduce the paper.

Could you please supply the extends of the magnitudes of the augmentations you used in the paper as a baseline for our reproduc

[2018-06-24 14:45] soham2017 commented on #1
I would like to know what is exactly meant by manual driving here.  Is it human driving on the roads of Town01 or can it be done manually in the simulator itself( If I'm not wrong, the standalone mode is just a video game mode). I'd be really helped if someone helps me out on this!

Thanks in advance!

[2018-06-25 14:52] Teslatic commented on #39
@felipecode I would also like to know these parameter.

[2018-06-26 14:51] eds89 commented on #32
I am running on Windows too.

On 19 June 2018 at 13:39, soham2017 <notifications@github.com> wrote:

[2018-06-26 14:55] eds89 commented on #30
With this, will it be possible to see the car on the move while running the
experiments?

Regards,

On 10 June 2018 at 18:16, Eduardo dos Santos Work <
eduardosantos3011work@gmail.com> wrote:

[2018-06-29 08:18] jackspp opened #40 "Question about speed of provided dataset"
Hi, felipecode,

Could you tell me whether speed in the provided dataset is measured in km/h, or m/s ?

THanks a lot!!

[2018-07-09 18:55] Kabnoory opened #41 "Questions about dataset and training"
Hey I am trying to implement the paper, but my results are not good.

1. I noticed that the most of the dataset had a very low steering value even for left or right commands, so was there any data balancing technique used on the training dataset? if yes can you give information about it.

2. I read in other issues that I need to mask the branches so that you back-propagate only on one branch? I am

[2018-07-10 15:40] felipecode commented on #41
Hey . Kabnoory
1. You are right ! left and right cameras needs to be augmented on the fly.
This piece of code do the trick
https://gist.github.com/felipecode/0c0bf85c6f3864f7f41c16a78b0416a4

2. I am bit busy right now. I can come back to you later with the code for that.

Cheers

[2018-07-10 15:41] felipecode commented on #40
Km/h

[2018-07-10 15:42] felipecode commented on #39
Here it goes:

using IMGAUG

        st = lambda aug: iaa.Sometimes(0.4, aug)
        oc = lambda aug: iaa.Sometimes(0.3, aug)
        rl = lambda aug: iaa.Sometimes(0.09, aug)
        self.augment = iaa.Sequential([

            rl(iaa.GaussianBlur((0, 1.5))),  # blur images with a sigma between 0 and 1.5
            rl(iaa.AdditiveGaussianNoise(loc=0, scale=(0.0, 0.05), per_channel=0.5)),  # add

[2018-07-10 15:43] #38 closed, assigned to felipecode

[2018-07-10 19:30] Kabnoory commented on #41
Thank you for the code!
I wanted to ask what is the value of g_conf.AUGMENT_LATERAL_STEERINGS on line 22?
Also, is there any other augmentations that you apply during training other than this one and the image augmentations?

[2018-07-10 19:42] felipecode commented on #41
I think that is all.
It was g_conf.AUGMENT_LATERAL_STEERINGS= 6, the value

[2018-07-10 21:35] Kabnoory commented on #41
I think the dataset provided has only 1 camera, so the camera_angle is always 0. So the augment_steering doesn't change anything? is there something I'm missing or is the dataset provided only a portion of the actual dataset?

[2018-07-16 02:20] zhanyifei commented on #1
@soham2017 As I see in the paper,80% of the data was collected in Carla an 20% is real manual driving data using a little truck.

[2018-07-20 14:30] Kabnoory commented on #41
@felipecode Any feedback on whether there is another dataset used in the paper that can be provided or not?

[2018-08-02 03:08] melodyhappy opened #42 "training problems"
i use your source training code  to training from scratch, but i found when the loss decreased to 2, it start to fluctuate between 3 and 7.so it that reflects that the training is overfitting?
and are there any training tricks? Hoping for your answer.THX

[2018-08-13 10:58] margonotmango commented on #42
hi,
Could you plz tell me where the source training code is? I can't find it. thanks

[2018-08-16 17:50] mattangus opened #43 "Results replecation"
Hello,

In the paper you report 88% completion rate. However when I run the trained model from this repo only one of the 25 straight runs pass (4%). When I double the timeout it goes up to 47%. Do you use a custom benchmark to achieve the 88% result reported?

The command used is:

`python3 run_CIL.py --host <ip to remote machine>`

I have a TitanX on the machine that I'm running this on.

[2018-08-16 18:01] felipecode commented on #43
Which version of CARLA are you using ?

[2018-08-16 18:05] mattangus commented on #43
0.8.2, but the python client is from the branch `CS1_client_side_agents`.

[2018-08-16 18:08] felipecode commented on #43
Please try to use with the python client from the 0.8.2 release.

[2018-08-16 18:09] mattangus commented on #43
Sorry I should have been more clear. I used the client that came with 0.8.2 for the first run, which got 4%. I then changed it to the branch and double the timeout calculation.

[2018-08-16 18:13] felipecode commented on #43
I will try to replicate. Maybe it is some newer tensorflow version issue ?
Try running with tensorflow 1.1

[2018-08-16 18:35] felipecode commented on #43
I am sorry.
I have no Idea what is the problem that you have.
I was just able to replicate the straight passes.
What I did.

Downloaded CARLA 0.8.2 release pre compiled version for linux.
Made a conda environment
On that environemnet.
I installed carla from the 0.8.2 package
Installed tensorflow 1.7 ( It should work with 1.1 as well , i just had a newer cuda installed)
Executed
python run_CIL.py

[2018-08-16 18:36] mattangus commented on #43
Ok, I'll give that a try and let you know!

[2018-08-16 19:05] mattangus commented on #43
What command do you use to run Carla?

[2018-08-16 19:20] felipecode commented on #43
sh CarlaUE4.sh -windowed -world-port=2000 -ResX=1033 -ResY=750

The ResX and ResY shouldn't affect is just to adjust the server window display

[2018-08-23 03:03] margonotmango opened #44 "question about datasets"
hi,
I found that the value of the throttle in the dataset is basically 0.5 or 1, but the speed is basically uniform. Why? Assuming the throttle is always 0.5, the speed should always increase. I'm so confused.
Looking forward to your reply~

[2018-08-28 05:23] pri2si17-1997 commented on #42
@melodyhappy can you please tell where source code of training model is located?

[2018-08-28 11:08] melodyhappy commented on #42
@margonotmango @pri2si17-1997  the source training code is here https://github.com/mvpcom/carlaILTrainer

[2018-09-03 13:40] pri2si17-1997 commented on #39
Hello @felipecode

Can you please explain what is st, oc and rl? What I can infer is it is sometimes augmenter. But then why we are using it in three different ways?

[2018-09-04 17:06] felipecode commented on #39
Hey @pri2si17-1997
It means the frequency the augmentation is applyed.

St means for 40% of the images ( sometimes)
Oc is for 30% of the images ( ocasionally)
Rl is for 9& of the images ( rare)

[2018-09-05 13:08] jrabary commented on #41
@felipecode @Kabnoory I also check the given dataset and I confirm that every image has camera yaw == 0. But, when you take a close look into each image it seems like there are several cameras. Maybe the dataset was not recorded correctly. @felipecode  Is it possible to check it from your side ?

For example:
![same_view](https://user-images.githubusercontent.com/1025387/45096058-ec381100-b11f-11e

[2018-09-12 17:58] eds89 commented on #30
Hi. Any updates on this issue?

[2018-09-13 01:01] SoumiDas commented on #34
Exactly my questions as above.. how are the high level commands generated ?Are we supposed to use the A* algorithm in this case? If so, what's the input to this?

[2018-09-17 15:56] eds89 opened #45 "Connection to server problem"
Hi.
When both server and client are on the same computer, what address should I use to connect to the server (e.g. 'localhost', '127.0.0.1', or the computer's name)? I can confirm the server is set up and running correctly, as identified by TCPview, but the only message returned by the experiment client are 'connection timed out', or 'failed to read from server'). Client and server ports match.

[2018-09-18 11:11] eds89 commented on #45
Fixed.

[2018-09-18 11:11] #45 closed, assigned to nobody

[2018-09-26 18:25] pri2si17-1997 opened #46 "end-to-end driving via imitation learning"
Hi,

Is it possible to train end-to-end network on carla dataset. I mean, what is mentioned in paper is conditional imitation, but I don't want to use conditional command. I just want to use steer+gas+brake for my network to learn and predict on basis of image. I made one such network which tends to drive straight with some deflection towards right or left (random behaviour) and gets collided or o

[2018-10-05 01:19] DeeShoaib opened #47 "Control Branch labels and Source Code for Training"
First, I would like to know how did you generate the labels for control branches? and any plans to share source code that you used for training?

[2018-10-09 16:47] AliBaheri opened #48 "Question about the provided dataset"
Thanks for sharing the great work.

I have a question abut the dataset. I  understand that each .h5 consists of 200 images, but my question how these .h5 have been collected? Particularly, I mean these files starts from `data_03663.h5` and ends by `data_06951.h5`. Dose all of these files have been collected sequentially? Does it mean these files are part of sequence or episodes?

Thanks for clarif

[2018-10-10 14:10] SoumiDas opened #49 "Checkpoint in Conditional Imitation Learning"
Hello,

I had a question regarding the present checkpoint in Conditional Imitation Learning. When I run run_CIL.py with the available checkpoint, the agent moves straight with no turns or dynamic objects around.

Is the checkpoint only for the task mentioned as 'Straight' ? If so, how are we to change the available training code for implementing the other tasks like 'One turn' or 'Navigation Dynam

[2018-10-10 16:04] sayanmandal opened #50 "Traffic Sign Not Detected and Frequent Car Crash"
Hi,
    I am running your pre-trained model which is uploaded in this repository. When I am running the dynamic-navigation environment benchmark, the car is not accounting for the traffic light and if a car stops due to traffic light, it just crashes with the car. Is there any thing we can do to attend to any car stopping in front of the agent or to attend to the traffic light? I think all this ag

[2018-10-11 01:25] #49 closed, assigned to nobody

[2018-10-11 14:27] JohnMcSpedon commented on #47
I think the control branch labels come from:
https://github.com/carla-simulator/carla/blob/master/PythonClient/carla/planner/planner.py#L23-L27

[2018-10-11 16:12] shoaibmehboob commented on #47
Thanks a lot John :)

[2018-10-11 16:21] JohnMcSpedon commented on #47
No problem.  There's open source training code at https://github.com/mvpcom/carlaILTrainer.  The author is active on a lot of these github threads

We've got slightly different training code at our company (mostly because of existing deployment infrastructure).  We're looking into open sourcing that, either as a PR in this repo or a seperate repo.

[2018-10-11 16:48] shoaibmehboob commented on #47
This is great help indeed...Many Thanks :)

[2018-10-12 06:57] markus-hinsche commented on #37
Hi everyone, we have been working on source code for the training.

In my opinion, the information for this is scattered across multiple repos (+ papers):
- https://github.com/carla-simulator/imitation-learning has inference code
- https://github.com/mvpcom/carlaILTrainer has training code, but in another repo and very hard to read
Our contribution would be to provide usable training code.

@felip

[2018-10-12 19:08] felipecode commented on #37
@markus-hinsche
Sure markus ! I am still working on it. I will try to release soon.

[2018-10-12 19:22] felipecode commented on #50
The training data contains demonstrations where the agent does not stop for traffic lights.
So It is expected for it to not learn this policy. You would need new data for that.

[2018-10-12 20:49] sayanmandal commented on #50
If we set aside the traffic light case, at least it should obey the traffic in front of it. If any car stops in front of it, it just crashes with the car. Can we eliminate this case?

[2018-10-14 08:04] felipecode commented on #43
Have you been able to replicate the results in the end ?

[2018-10-14 15:37] mattangus commented on #43
Yes, I'm not sure what the problem was but I did replicate! Thanks for the help.

[2018-10-14 15:37] #43 closed, assigned to nobody

[2018-10-18 13:24] AliBaheri opened #51 "Question about dataset"
A quick question about the dataset:

Can you please clarify the target key # 24:
`High level command, int ( 2 Follow lane, 3 Left, 4 Right, 5 Straight)`???

**When I open a sample data, I see only a real value for this key. Should not be a vector of 5 real number based on its definition?**

    `Steer, float
    Gas, float
    Brake, float
    Hand Brake, boolean
    Reverse Gear, boolean
    Stee

[2018-10-18 13:24] AliBaheri commented on #48
Solved.

[2018-10-18 13:24] #48 closed, assigned to nobody

[2018-10-29 10:11] eds89 opened #52 "Training code released?"
Hi. Has the training code been released yet?

[2018-10-30 09:38] JunningHuang opened #53 "Question about dataset !!!"
I want to replicate the work of this paper, but I don't know how to load the data to rebuild the dynamics of other non-agent cars. Can you provide a detailed tutorial?
I have fought out that there is a default environment setting named "CORL2017", is this setting enough to rebuild the dynamics of other non-agent cars?

[2018-10-30 09:44] #53 closed, assigned to nobody

[2018-10-30 09:59] JunningHuang opened #54 "Questions about dataset"
Is there any tutorial to load the dataset and rebuild the dynamics of the non-agent car, and I can't find any training code in this repo?

[2018-10-30 10:08] JunningHuang commented on #9
hi, @mvpcom, thanks a lot for your code!

[2018-10-30 13:08] AliBaheri opened #55 "Training code?"
Is there any plan in near future to release the training code?

[2018-10-30 13:18] felipecode commented on #51
No, it is a real number.  And when
command == 2:
follow lane,
command == 3
go left
command == 4
go right
command == 5
go straight

[2018-10-30 13:19] felipecode commented on #55
I am working on it. The plan is for next month.

[2018-10-31 09:00] JunningHuang commented on #32
I am running on Ubuntu, meet the same problem... @felipecode

[2018-10-31 10:41] getaleks opened #56 "Steering angle correction with 3 camera set up"
Hi,

I would like to collect training data with a 3 camera set up (left, center, right) as described in the imitation learning paper and in many others (Nvidia, Udacity Behavioral Cloning, etc.).

Some only shift the left and right camera (no rotation) and some also rotate the camera as I believe was stated in the imitation learning paper here.

How do you derive the steering angle correction for

[2018-11-01 15:23] AliBaheri commented on #54
[Please see this issue.](https://github.com/carla-simulator/imitation-learning/issues/13)

Hope it helps.

[2018-11-01 15:24] #51 closed, assigned to nobody

[2018-11-20 10:15] arashroomi commented on #32
Same problem here. I guess its due to carla version. Someone had similar problem but with the python client. I think the older version shall be installed inorder to work with imitation learning.
https://github.com/carla-simulator/carla/issues/697

[2018-11-20 16:30] AliBaheri commented on #44
@felipecode,
I have the same question here. Would it be possible to give some information in this regard?

[2018-11-20 17:12] felipecode commented on #44
Throttle 0.5 is like a minimum to beat the inertia in carla physics.

[2018-11-21 07:28] paulaurel commented on #44
@felipecode, I was running some experiments and lower throttle values of around 0.2 already beat the inertia.

[2018-11-21 08:46] JunningHuang commented on #54
Hi @AliBaheri  You might misunderstood my question. Actually I want to restore the given imitation learning data in Carla and make a replay on it.

[2018-11-21 09:48] felipecode commented on #44
Thanks for the question BTW.
@paulaurel Yeah, but it goes very very slow right ? On 0.5 it like already input some constant speed.
Inertia was not the right term. I haven't analyzed that properly to be fair.
But there should be sometimes were the throttle is zero right ?

[2018-11-21 09:53] paulaurel commented on #44
@felipecode yes it is relatively slow. It reaches approximately 14 km/h. Do you have a model to map the throttle values to corresponding acceleration? If not is there a model of the Carla's car drivetrain? This would be great.

[2018-11-21 13:07] AliBaheri commented on #44
@felipecode Thanks for clarification.

[2018-11-21 16:28] onlytailei opened #57 "Is this the result from CORL 2017 or CIL (ICRA 2018)?"
For the CORL 2017 paper, it is trained by several different weather conditions.
For the CIL (ICRA 2018) paper, "The majority of training data was collected in sunny weather."

It seems that the dataset provided in this repo contains several different weather conditions.
So the weight provided is trained by this dataset and represents the training result of CORL 2017 paper?

And if I split the data

[2018-11-22 03:47] Warsin opened #58 "how to get the dataset?"
hi,
how did you collect the dataset in CARLA,when i run the ./client_example.py --autopilot --images-to-disk i can just get the rgb , depth image and print some measurements , but i can not get all the 28 measurements in targets,how did u get it?

[2018-11-26 07:36] #58 closed, assigned to nobody

[2018-11-26 07:39] Warsin opened #59 "questtion about the input control and the target control"
hi,
I'm sorry to interrupt you，when i use your model, i found you use the input control and target control,what is these and what is the difference beetween them ?
Thank u!

[2018-11-26 08:10] #59 closed, assigned to nobody

[2018-11-28 12:52] JunningHuang opened #60 "Carla detailed settings"
Can you provide detailed carla settings? @nsubiron @felipecode @nishanthjois
Including weather, NPC car number, pedestrian number etc...

Without the detailed settings in Carla, it's hard to reproduce your work

[2018-11-28 13:07] JunningHuang commented on #60
BTW, I have load your model to test in Town01, but I find that the car didn't stop when the traffic light turns red... Can you tell me the reason?
 @felipecode @nsubiron @nishanthjois

[2018-11-28 13:12] felipecode commented on #57
No, the ICRA data is not available. You just have the CoRL paper data on this repo . I still have to organized and update this... but i am finishing my phd now...

[2018-11-29 08:19] markus-hinsche commented on #60
@Johnnyswong It is not stopping in the training data recorded, therefore it is not what the model learned to do.

[2018-12-10 12:05] onlytailei commented on #1
I build a [pytorch version](https://github.com/onlytailei/carla_cil_pytorch) to train the policy in case that you may be interested.

[2018-12-10 12:09] #57 closed, assigned to nobody

[2018-12-11 13:13] HubFire opened #61 "How can I get the module pipline result？"
Thanks to  your great work in this paper。But I want to known  more details  about  the experiment, where can I find  the  module pipline source  code ?

[2018-12-11 13:17] markus-hinsche commented on #55
We released Tensorflow training code which tries to implement the paper: https://github.com/merantix/imitation-learning

[2018-12-11 16:10] markus-hinsche commented on #52
We released Tensorflow training code which tries to implement the paper: https://github.com/merantix/imitation-learning

[2018-12-11 16:11] markus-hinsche commented on #42
Here is another code that also does the training, which might or might not be easier to read :)
https://github.com/merantix/imitation-learning

[2018-12-14 18:17] #56 closed, assigned to nobody

[2018-12-17 08:05] planckwu opened #62 "Directions meaning"
I run this project and the meaning of run_step function parameter "Directions" confused me.

The docs of carla-0.84, said "Directions: Information from the high level planner. Currently the planner sends a high level command from the following set: STRAIGHT, RIGHT, LEFT, NOTHING."

so that,the value of 'Directions' wouldn't should be 0 to 3?
but the run_step function get 0 to 5! can anyone tell me

[2018-12-18 07:37] HubFire commented on #62
# Constants Used for the high level commands
REACH_GOAL = 0.0
GO_STRAIGHT = 5.0
TURN_RIGHT = 4.0
TURN_LEFT = 3.0
LANE_FOLLOW = 2.0

[2018-12-18 08:22] planckwu commented on #62
@HubFire Thank you so much,This help me a lot!

[2018-12-19 12:53] getaleks commented on #55
Any updates on this?

[2018-12-24 10:25] tofugan opened #63 "what the "gas" mean ?"
steer, gas , etc.. what the "gas" means ?

[2018-12-24 11:57] Deepak3994 commented on #58
Hi did you got any idea on this...As iam also facing the same problem in getting 28 control signals...

[2018-12-24 11:59] Deepak3994 commented on #53
Hi did you got any idea on this...As iam also facing the same problem in getting 28 control signals...

[2018-12-24 12:03] Deepak3994 opened #64 "How to generate Dataset with 28 control signals.."
how did you collect the dataset in CARLA,when i run the ./client_example.py --autopilot --images-to-disk i can just get the rgb , depth image and print some measurements , but i can not get all the 28 measurements in targets,how did u get it? KIndly help

[2018-12-25 04:28] tofugan commented on #64
hi guy,do you know what the "gas" (in the 28 measurements) means ?

[2018-12-25 15:51] felipecode commented on #64
The gas is the throttle.
For the best version of the data collection please check this repository:
https://github.com/carla-simulator/data-collector

[2018-12-28 09:45] JunningHuang commented on #53
It's impossible to restore the environment in 0.8.2. I recollect the expert data by the default autonomous driving control, you can try it. BTW, the newest 0.9.2 has some awesome features benefit the learning.

[2019-01-09 14:50] amilapsn commented on #63
acceleration

[2019-01-10 08:09] HubFire commented on #44
Why is there  negative numbers of speeds in the data set?

           speed        command          steer             throttle              brake
count  657600.000000  657600.000000  657600.000000  657600.000000  657600.000000
mean       17.935953       3.356726       0.001634       0.504136       0.174912
std        14.463256       1.173195       0.155913       0.330658       0.379184
**min

[2019-01-10 08:35] HubFire commented on #40
Hi, felipecode
Why is there negative numbers of speeds in the data set?
https://github.com/carla-simulator/imitation-learning/issues/44#issuecomment-453005877

[2019-01-10 08:47] HubFire commented on #40
Thanks
If the speed is measured in km/h, is the speed  normalized to [0,1]?
https://github.com/carla-simulator/imitation-learning/blob/62f93c2785a2452ca67eebf40de6bf33cea6cbce/agents/imitation/imitation_learning.py#L141
if  normalized to [0,1],i think should be
`speed = np.array(speed/3.6 / 25.0)`

[2019-01-24 12:57] m-abaas opened #65 "Training code"
Hello there,
has the training code been released yet?

[2019-01-24 13:35] felipecode commented on #65
There is one in tensorflow. by merantix https://github.com/merantix/imitation-learning
I have one in pytorch that am trying hard to release it soon. I am just waiting because
I need to finish a paper together with it.

[2019-01-24 20:38] m-abaas commented on #65
Thank you, felip

[2019-01-31 10:47] eds89 commented on #65
@felipecode is this the CIL paper training code?

[2019-01-31 10:56] felipecode commented on #65
Mine is here.
https://github.com/felipecode/coiltraine/

[2019-02-05 18:57] m-dawoud opened #67 "Camera Settings"
What are the exact camera position and settings used in the dataset? After training a model an successfully able to predict on the validation set, whenever I try making in drive on Carla simulator it predicts false values continuously. Please help.

[2019-02-07 00:46] mallela opened #68 "Parallelizing data load and training"
Hello!

I read in another issue that you load data and perform training in parallel. I was just wondering how exactly you do that? Because the bottle neck does not seem to be training (takes ~0.06s) but data pre-processing/fetching call ( augmentation using imgaug Sequential process ~0.8s; loading .h5 ~0.2s). I am using a batch size of 120.

Are you using multiprocessing or the TF data input pipel

[2019-02-07 07:29] markus-hinsche commented on #68
Praneeta!
In Tensorflow, the method `dataset.map()` has a parameter `num_parallel_calls`.

See how we use it in our training implementation of this paper:
`https://github.com/merantix/imitation-learning/blob/master/imitation/input_fn.py#L100`

[2019-02-11 09:04] Karimhamdymubarak opened #69 "load checkpoints for forward propagation"
how to load the checkpoints to make a forward propagation ?

[2019-02-16 19:08] eds89 opened #70 "Compatibility with 0.9.x"
Hi. Do you plan to make this pre-trained model compatible with Carla 0.9.x?

[2019-02-16 20:04] felipecode commented on #70
It is ! You just need to setup the interface properly.

[2019-02-21 22:24] #69 closed, assigned to nobody

[2019-02-22 18:30] m-abaas commented on #41
How do we obtain the camera angle anyway, in order to use it in the *lateral_augmentation* function provided by @felipecode ?

[2019-02-23 06:18] Karimhamdymubarak opened #71 "data balance"
How do we obtain the camera angle anyway, in order to use it in the _lateral_augmentation_ function provided by @felipecode  for data balancing?

[2019-03-04 14:04] xjiae opened #72 "."

[2019-03-05 23:08] m-dawoud opened #73 "Dataset images crop"
Please share what's the crop of the images in the dataset given that they are extracted with resolution 800x600

[2019-03-06 15:16] felipecode commented on #73
Hey the crop is like this:

image_cut=[115, 510]

then you cut the image like this:

        rgb_image = rgb_image[image_cut[0]:image_cut[1], :]

And reshape to 200x88
The angles are

        camera = {
            "id": "rgb",
            "type": "sensor.camera.rgb",
            "image_size_x": 800,
            "image_size_y": 600,
            "fov": 100,
            "position_x": 2.0,

[2019-03-14 05:02] kimna4 opened #74 "How to avoid an accident?"
Hello,

I am using this simulator and benchmark.
However, my car never stop to avoid the accident with other car or pedestrian.
I think that there is parameter for preventing accidents automatically.

Is there the parameter? or other setting?
Thank you.

[2019-03-14 17:48] gavin8533 opened #75 "."

[2019-03-14 17:49] #75 closed, assigned to nobody

[2019-03-19 21:07] gavin8533 opened #76 "InvalidArgumentError of run_CIL.py"
Hi @felipecode
I suffer from an issue when running run_CIL.py of invalid argument error as:

InvalidArgumentError (see above for traceback): Cannot assign a device for operation input_image: node input_image (defined at /home/XXXXX/imitation-learning/agents/imitation/imitation_learning.py:42) was explicitly assigned to /device:GPU:0 but available devices are [ /job:localhost/replica:0/task:0/devic

[2019-03-22 14:09] lukazikus opened #77 "Saving New Training Data"
Hi Felipe,

I was wondering how we would be able to record images taken from the CARLA simulator and convert them to the h5 files in the same format as the ones in your training dataset. I was wondering if there are any samples I can look at since I am relatively new to using the CARLA/H5 API.

[2019-03-22 18:40] gavin8533 commented on #76
Problem fixed by upgrade CUDA to 9.0 and uninstall and install tensorflow-gpu.
Issue close!

[2019-03-22 18:40] #76 closed, assigned to nobody

[2019-03-30 10:28] RICEVAGUE opened #78 "sample rate about dataset"
I want to know the sampling rate of the data set.
Can you tell me?

[2019-04-03 15:23] brokenBrain commented on #65
Thanks for the repo felip! However, I've been looking through the repo and I'm unable to figure out how to download the dataset used in the CoRL 2017 Paper. I can download the HDF5 files, but how do I convert them into the format used by coiltraine? What I'm trying to do is reproduce the results from the CoRL 2017 paper with coiltraine. It looks like the only missing piece I'm unable to figure out

[2019-04-03 19:08] felipecode commented on #65
They use different formats. I havent yet converted.
I will release a new dataset for coiltraine soon !

[2019-05-27 13:41] Suryavf commented on #39
Does this code require to normalize input image?

[2019-06-17 07:04] vjg28 commented on #65
Is the dataset for Coiltraine released ??

[2019-06-17 07:37] vjg28 opened #79 "[Question] Lambda value for velocity in Loss fn"
I have some questions regarding the inclusion of velocity in the loss function. The model has a separate branch that gives predicted velocity value as output give the input from the perception module.

How is the velocity value included in the loss function? Is it just one extra variable in the mean squared loss or something else.
[code]
If it is so, then what is the value of **lambda_velocity** u

[2019-06-24 18:43] RuihanGao commented on #70
HI! May I ask how to set up the interface?

[2019-07-08 09:25] knmitri commented on #37
Training code: https://github.com/felipecode/coiltraine/

Respect for the idea of branching :)

[2019-07-09 21:02] SunFishlike commented on #60
Your work is truly attractive and I am trying to reproduce the benchmark. However, I see no NPC vehicles when I run the benchmark. Is thit normal?

As I find that each episode will reset the client with default CarlaSettings, and the default CarlaSettings at least have 20 NPC vehicles (but I see None). Anyway, I tried to solve this, but I have no idea now.

@felipecode @nsubiron

Default setting f

[2019-07-16 23:03] varunjammula opened #80 "python run_CIL.py error"
` File "<string>", line 32
    def single_image_random_dot_stereograms(depth_values, hidden_surface_removal=True, convergence_dots_size=8, dots_per_inch=72, eye_separation=, mu=, normalize=True, normalize_max=, normalize_min=, border_level=, number_colors=256, output_image_shape=[1024, 768, 1], output_data_window=[1022, 757], name=None):

[2019-07-17 00:48] felipecode commented on #80
Try running the suggested versions please ! I haven’t updated it :(

On Tue, Jul 16, 2019 at 8:03 PM Varun Jammula <notifications@github.com>
wrote:

[2019-07-24 03:43] weizhaoji commented on #37
@knmitri  Hi,  can you run the @felipecode  training code on the carla0.8 ?

[2019-07-24 12:35] knmitri commented on #37
Hi @weizhaoji, I still did not try it. I am training without imitation learning.

[2019-07-24 13:38] weizhaoji commented on #37
@knmitri thx a lot, I am in trouble with it,if you can run the imitation learning training code,please tell me ,thx again.

[2019-08-09 02:26] zhangjunwang opened #81 "A question about training. Only use one of four branches to update the network?"
If we have a batch of 20 images, 10 of high-level-commands are Right and 10 of them are Straight, does this mean the Left and Follow branch heads are not updated at all for this batch? I mean we only use one of four branches to update every time, and do not care about other three that high-level-commands do not choose.

[2019-08-30 23:34] lijecaru opened #82 "Acceleration"
When you write about acceleration in the paper, it mentions that it has to be normalized between 0 and 1 (then it would be the throttle, pedal position). Do you actually compute acceleration as the control action and transform it to throttle or directly compute the throttle? Is there any way to go from acceleration to throttle?

[2019-09-01 15:32] SunFishlike opened #83 "NPC vehicles not seen"
Your work is truly attractive and I am trying to reproduce the benchmark. However, I see no NPC vehicles when I run the benchmark, just the ego-vehicle navigating for each episode. Is that normal? Is the benchmark working without NPC vehicles?

I'm using Carla 0.8.2 by running ./CarlaUE4.sh -carla-server.

I tried to solve it by myself, and I found that each episode will reset the client with defa

[2019-09-03 12:19] kimna4 commented on #48
@AliBaheri
I checked some .h5 files and it consisted of 200 sequential images.
However, I'am not sure that all of these files have one sequential episode.
I think that some .h5 files are likely to contain multiple episodes.
I want to know the answer to your question.

Thank you.

[2019-09-04 08:41] arashroomi opened #84 "Dataset with depth or Semantic Segmentation"
Hi
I am trying to work on the new paper: "Multimodal End-to-End Autonomous Driving". Is there a dataset with depth or semantic segmentation available?

Thanks in Advance.

[2019-09-09 06:36] ryanwang522 commented on #48
Hi @kimna4 @AliBaheri
I also have a similar question about how the data have been collected.
Should we extract all the images from these .h5 files and train our model with batched data?

[2019-09-09 06:38] varunjammula commented on #80
It is an issue when CARLA is imported before tensorflow. Just need to be careful  about the import order.

[2019-09-09 06:38] #80 closed, assigned to nobody

[2019-09-11 21:49] rockyyliang commented on #82
I just train using the "gas" as label, it's normalized throttle input.

[2019-09-11 22:01] rockyyliang commented on #78
I would also like to know, thanks! @felipecode

[2020-02-10 10:53] Elahe96 opened #85 "Dataset"
Hi,
I'm facing a problem downloading the dataset. I can download about 16GB of it, and then the downloading process stops. I have enough space on my hard disk, and my internet rate is about 24Mbps. I have tried downloading it three times, but I can't download it completely. Is there any possibility to download in two or more parts?
Thanks

[2020-03-02 09:25] Elahe96 commented on #32
I'm using carla 0.8.2.2, but I'm still facing this problem. Any idea how to fix it?
@arashroomi @soham2017 @eds89

[2020-03-24 00:26] Youssef-Matloob commented on #77
HI Luka,

Did you solve this problem and wrote a code doing this task, converting the data into h5 files

[2020-06-17 08:07] Tinamilee commented on #46
I want to know too.

[2020-08-18 02:50] SHITIANYU-hue opened #86 "How to run in carla 0.9.4"
It seems that this  CARLA version cannot be installed now.

Traceback (most recent call last):
  File "run_CIL.py", line 4, in <module>
    from carla.driving_benchmark import run_driving_benchmark
ModuleNotFoundError: No module named 'carla'

[2020-09-04 19:25] SHITIANYU-hue commented on #80
i also have this problem, how did you solve it? @varunjammula

[2020-09-13 11:15] king479 opened #87 "problem in starting run_cli.py"
C:\Coursera\CarlaSimulator\PythonClient>python run_CIL.py
2020-09-13 16:23:25.798957: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_100.dll'; dlerror: cudart64_100.dll not found
2020-09-13 16:23:25.799759: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
WARNI

[2020-09-18 09:09] Jai6580 commented on #84
Hello,have you made it? I am interested in this paper,too. Hope we can discuss.

[2020-09-18 23:48] felipecode commented on #84
@yixiao1 Do we have this data ? Do you have a repo for that ?

[2020-11-19 12:34] raozhongyu commented on #86
I have the same question, do you solve it? Thanks

[2020-11-20 13:21] SHITIANYU-hue commented on #86
You could check the bachrc file whether it includes the right path of the carla module

[2020-11-21 01:48] raozhongyu commented on #70
Hi, I have the same question, Do you slove it?

[2020-11-21 01:52] raozhongyu commented on #86
Thanks for your reply ,I meet this question :ModuleNotFoundError: No module named 'carla.driving_benchmark'

[2020-12-15 16:02] Rookie-81 commented on #87
getting the same error.
Fixed by installing cuda 10 and libcudnn 7.4 with tensorflow-gpu==1.15

[2020-12-15 18:23] Rookie-81 commented on #45
any idea how you fixed it?

[2020-12-15 19:19] Rookie-81 commented on #86
make sure to export this:
export PYTHONPATH="`pwd`/PythonClient:$PYTHONPATH"

[2020-12-15 20:36] Rookie-81 commented on #32
Still encountering this problem

[2020-12-16 15:55] Rookie-81 opened #88 "Error connecting"
Hello!
i keep encountering this error when i try to reproduce your results by running run_CIL.py
i'm using carla 0.82 using the flag -carla-server
![image](https://user-images.githubusercontent.com/29545730/102372439-dc2e5d80-3fc7-11eb-9830-fa7853b1e68c.png)

thanks in advance!

[2021-01-15 00:03] baheytharwat opened #89 "Position and Orientation data explanation"
Hi,
I have some questions about the position and orientation in the dataset. Regarding the orientations, Where is the yaw angle? orientation z is constant during turns and oscillations . orientation y and orientation x change between `0-57` during 90 degree turns.  So,  I need more clarification about these data and what is the unit used for the orientation?
 Regarding the position data, For the w

[2021-01-20 06:09] liuyandong1988 commented on #32
For carla 0.8.2, use the param -carla-server to start carla simulator.  _./CarlaUE4.sh -carla-server_

[2021-01-31 13:06] #85 closed, assigned to nobody

[2021-01-31 13:49] Elahe96 commented on #55
If anyone found a training code that has been published, please give the link.

[2021-01-31 18:06] felipecode commented on #55
I released this long time ago a framework to train those type of networks.
https://github.com/felipecode/coiltraine
It is in pytorch.

[2021-01-31 18:06] #55 closed, assigned to nobody

[2021-02-09 11:52] danielaDESM opened #90 "Question regarding Ego-vehicle velocities (lateral and longitudinal)"
Hi!
I hope yo can help me to understand the following:

I would like to get ground truth data of the velocities in x,y,z w.r.t the coordinate system of the ego vehicle. So far I have only seen the vehicle.get_velocity(), but those are computed w.r.t the coordinate system of the map .
For instance, if the car is driving along the Y- axis in the map, vehicle.get_velocity().x would give me a value cl

[2021-03-14 02:39] EchoYJJ commented on #86
Hi, Have you solved this problem?

[2022-01-21 12:44] Flora279 commented on #81
Yes, I think so, however I still did not find out where the code specify that. Any mask implemented? (ps. I know we have mask for the loss). Please hint me a bit if anyone knows where.

[2022-02-08 04:54] EnhanceRepo opened #91 "2-hour Validation data in the paper Exploring the limitations of Behavior Cloning for Autonomous Driving"
Hi Felipe,
Is the 2h validation dataset for training CILRS100 and CILRS10 models also released? If yes, where to download? I can only access to training data CARLA100.

Thanks.

[2022-03-17 09:23] X-chaser opened #92 "The unit of the velocity"
The annotation in the file agents/imitation_learning.py says that the maximum speed in training set is 90km/h. So I analyzed the speed label in training data, and the result shows that the values of the speed labels do have a limitation of 90. But the point that puzzels me is when regularizing the speed, the code divides the speed by 25, which I think means 25m/s. Isn't it should divide the speed

[2022-03-17 09:28] X-chaser commented on #70
Hi, I have the same question, Do you slove it?

[2022-04-30 20:56] FaroukAmr commented on #83
Did you figure it out?

[2022-04-30 22:50] FaroukAmr opened #93 "pre-trained model"
Anyone could send me the ddpg model after they trained it? thanks

[2022-04-30 22:50] #93 closed, assigned to nobody

[2022-07-19 00:22] R0yJing opened #95 "Masking"
Hi,
Can someone provide an example of how to implement the "masking" in keras? (i.e. model output is blocked for 3 of the 4 branches depending on what command is used). Any help is greatly appreciated.

Thanks

[2022-08-17 03:14] widkyyu opened #96 "datasets download"
It is not permission to download datasets. How can I download it?